@import "tailwindcss";

@theme {
  --breakpoint-tablet: 800px;
  --breakpoint-mobile: 500px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: green;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
